/*core*/
body {
    background: #4c6580;
    font-family: 'Roboto', sans-serif;

}
button {
    border: none;
    box-shadow: none;
    padding: 0;
}
button:hover {
    cursor: pointer;
}
a:hover {
    cursor: pointer;
    color: #4c6580;
}
.container {
    max-width: 960px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* navbar */
nav {
    background: #fff;
    width: 100%;
    max-height: 60px;
    display: flex;
    justify-content: space-between;

}
.navigation {
    display: flex;
}
.hamburger {
    height: 60px;
    width: 60px;
    background: #56ccc8;
    position: relative;
}
.hamburger__icon {
    position: absolute;
    top: 20px;
    left: 20px;
}
.navigation__menu {

    width: 500px;
    background: #fff;
    height: 60px;
}
.navigation__menu ul li {
    display: inline-block;
    padding: 20px;
}

.navigation__menu ul li a {
    font-weight: 400;
    font-size: 16px;
}

.navigation__menu ul {
    padding: 0 0 0 20px;
    margin: 0;
}
.menubuttons {

    max-height: 60px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}
.search {
    height: 60px;
    width: 60px;
    background: #fff;
    position: relative;
    justify-content: flex-end;
    border-right: 1px solid #b2b9bd;

}

.search__icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

.social {
    height: 60px;
    width: 60px;
    background: #fff;
    position: relative;
    justify-content: flex-end;
}
.login {
    height: 60px;
    width: 60px;
    background: #fff;
    position: relative;
    justify-content: flex-end;
    border-left: 1px solid #b2b9bd;
    float: left;
}
/* content */
.content{

}